header{
	
	width:100%;
	height:70px;
	background-color:rgba(34, 49, 63,1);
	border-bottom:2px black solid;
		
}
#imagen_cabecera{
	
	position:relative;
	left:60%;
	margin-top:1%;
}
form{
	position:relative;
	left:15%;
	bottom:70%;
}

#imagen_fondo{

	width:100%; 
}
.boton{
	background-color:rgba(34, 49, 63,1);
	border-color:rgba(34, 49, 63,1);
	color:rgba(108, 122, 137,0.75);
	font-size:15px;
	font-family:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight:bold;
	
}